TOKEN=YOUR_DISCORD_BOT_TOKEN
ADMIN_ROLE1=YOUR_DISCORD_ADMIN_ROLE_ID

# If you have only one admin role, you can delete the values below.
# However, don't forget to remove the references in predict_f1 on lines 22, 23, and 25.
ADMIN_ROLE2=YOUR_DISCORD_ADMIN_ROLE_ID
ADMIN_ROLE3=YOUR_DISCORD_ADMIN_ROLE_ID